#wrap {
    width: 1280px;
}

#header {
    background-color: #f8f8f8;
    height: 63px;
    padding: 0 160px;
}

.header-wrap {
    position: relative;
}

.logo-wrap {
    vertical-align: top;
    font-size: 0;
    display: inline-block;
}

.logo-wrap > h1 {
    padding-right: 112px;
}

.logo-wrap > h1 > a {
    display: inline-block;
    width: 150px;
    background: url('../img/header/logo.png') 0 0 no-repeat;
    padding-top: 63px;
    font-size: 0;
}

.translate-wrap {
    position: absolute;
    right: 0;
    top: 0;
}

.translate-wrap > ul::after {
    content: "";
    display: block;
    clear: both;
}

.translate-wrap > ul > li {
    float:  left;
}

.nav-list-wrap {
    display: inline-block;
}

.nav-list-wrap > ul::after {
    content: "";
    display: block;
    clear: both;
}

.nav-list-wrap > ul > li {
    float: left;
}

.nav-list-wrap > ul > li + li {
    margin-left: 58px;
}

.nav-list-wrap > ul > li > a {
    display: inline-block;
}

.nav-list-wrap > ul > li:first-child > a {
    background: url('../img/header/intro-comp.png') 0 0 no-repeat;
    width: 52px;
    padding-top: 63px;
    font-size: 0;
}

.nav-list-wrap > ul > li:nth-child(2) > a {
    background: url('../img/header/Sust-manage.png') 0 0 no-repeat;
    width: 79px;
    padding-top: 63px;
    font-size: 0;
}

.nav-list-wrap > ul > li:nth-child(3) > a {
    background: url('../img/header/invest-info.png') 0 0 no-repeat;
    width: 53px;
    padding-top: 63px;
    font-size: 0;
}

.nav-list-wrap > ul > li:nth-child(4) > a {
    background: url('../img/header/cyber.png') 0 0 no-repeat;
    width: 67px;
    padding-top: 63px;
    font-size: 0;
}

.nav-input-btn-wrap {
    position: absolute;
    right: 0;
    top: 30px;
}