#header {
    background-color: #f8f8f8;
    height: 63px;
}

.header-wrap {
    position: relative;
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.logo-wrap {
    vertical-align: top;
    font-size: 0;
    display: inline-block;
}

.logo-wrap > h1 {
    padding-right: 112px;
}

.logo-wrap > h1 > a {
    display: inline-block;
    width: 150px;
    background: url('../img/header/logo.png') 0 0 no-repeat;
    padding-top: 63px;
    font-size: 0;
}

.translate-wrap {
    position: absolute;
    right: 2px;
    top: 8px;
}

.translate-wrap > ul {
    font-size: 0;
}

.translate-wrap > ul::after {
    content: "";
    display: block;
    clear: both;
}

.translate-wrap > ul > li {
    float:  left;
    background: url('../img/header/divider-top-header.png') 8px 0 no-repeat;
}

.translate-wrap > ul > li + li {
    padding-left: 15px;
}

.translate-wrap > ul > li:first-child > a {
    background: url('../img/header/english.png') 0 center no-repeat;
    padding-top: 9px;
    width: 35px;
    display: inline-block;
    font-size: 0;
}

.translate-wrap > ul > li:nth-child(2) > a {
    background: url('../img/header/contact-us.png') 0 center no-repeat;
    padding-top: 9px;
    width: 50px;
    display: inline-block;
    font-size: 0;
}

.nav-list-wrap {
    display: inline-block;
}

.nav-list-wrap > ul::after {
    content: "";
    display: block;
    clear: both;
}

.nav-list-wrap > ul > li {
    float: left;
    font-size: 0;
}

.nav-list-wrap > ul > li + li {
    margin-left: 58px;
}

.nav-list-wrap > ul > li > a {
    display: inline-block;
}

.nav-list-wrap > ul > li:first-child > a {
    background: url('../img/header/intro-comp.png') 0 0 no-repeat;
    width: 52px;
    padding-top: 63px;
    font-size: 0;
}

.nav-list-wrap > ul > li:nth-child(2) > a {
    background: url('../img/header/Sust-manage.png') 0 0 no-repeat;
    width: 79px;
    padding-top: 63px;
    font-size: 0;
}

.nav-list-wrap > ul > li:nth-child(3) > a {
    background: url('../img/header/invest-info.png') 0 0 no-repeat;
    width: 53px;
    padding-top: 63px;
    font-size: 0;
}

.nav-list-wrap > ul > li:nth-child(4) > a {
    background: url('../img/header/cyber.png') 0 0 no-repeat;
    width: 67px;
    padding-top: 63px;
    font-size: 0;
}

.nav-input-btn-wrap {
    position: absolute;
    right: 0;
    top: 28px;
}

.input-wrap {
    box-sizing: border-box;
    min-width: 152px;
    height: 24px;
    padding-left: 5px;
    border: 1px solid #a7a7a7;
    border-radius: 13px;
    background-color: #ffffff;
    box-shadow: inset 2px 1px 5px #cccccc;
    position: relative;
}

.input-wrap > input {
    font-size: 10px;
    padding-left: 12px;
}

.input-wrap > a {
    position: absolute;
    top: 3px;
    right: 12px;
}

.nav-list-wrap > ul > li > ul {
    position: absolute;
    width: 100%;
    left: 0;
}

.nav-list-wrap > ul > li > ul::after {
    content: "";
    display: block;
    clear: both;
}

.nav-list-wrap > ul > li > ul > li {
    float: left;
}

.nav-list-wrap > ul > li > ul > li > a {
    display: inline-block;
    height: 35px;
}

.nav-list-wrap > ul > li > ul > li:first-child > a {
    background: url('../img/header/inner-list-1.png') 0 0 no-repeat;
    width: 137px;
}

.nav-list-wrap > ul > li > ul > li:nth-child(2) > a {
    background: url('../img/header/inner-list-2.png') 0 0 no-repeat;
    width: 122px;
}

.nav-list-wrap > ul > li > ul > li:nth-child(3) > a {
    background: url('../img/header/inner-list-3.png') 0 0 no-repeat;
    width: 134px;
}

.nav-list-wrap > ul > li > ul > li:nth-child(4) > a {
    background: url('../img/header/inner-list-4.png') 0 0 no-repeat;
    width: 108px;
}

.nav-list-wrap > ul > li > ul > li:nth-child(5) > a {
    background: url('../img/header/inner-list-5.png') 0 0 no-repeat;
    width: 104px;
}

.nav-list-wrap > ul > li > ul > li:nth-child(6) > a {
    background: url('../img/header/inner-list-6.png') 0 0 no-repeat;
    width: 108px;
}

.nav-list-wrap > ul > li > ul > li:nth-child(7) > a {
    background: url('../img/header/inner-list-7.png') 0 0 no-repeat;
    width: 125px;
}

.nav-list-wrap > ul > li > ul > li:nth-child(8) > a {
    background: url('../img/header/inner-list-8.png') 0 0 no-repeat;
    width: 122px;
}

.contents-wrap {
    padding-top: 35px;
}

.contents-wrap > article {
    display: inline-block;
}

.article-wrap + .article-wrap  {
    margin-left: 15px;
}

.invest-wrap > .title-h4-wrap > ul::after {
    content: "";
    display: block;
    clear: both;
}

.invest-wrap > .title-h4-wrap > ul {
    margin-top: 13px;
}

.invest-wrap > .title-h4-wrap > ul > li {
    float: left;
}

.invest-wrap > .title-h4-wrap > ul > li > a {
    display: block;
    font-size: 0;
    height: 61px;
}

.invest-wrap > .title-h4-wrap > ul > li:first-child > a {
    background: url('../img/contents/invest-menu-1.png') 0 0 no-repeat;
    width: 64px;
}

.invest-wrap > .title-h4-wrap > ul > li:nth-child(2) > a {
    background: url('../img/contents/invest-menu-2.png') 0 0 no-repeat;
    width: 44px;
}

.invest-wrap > .title-h4-wrap > ul > li:nth-child(3) > a {
    background: url('../img/contents/invest-menu-3.png') 0 0 no-repeat;
    width: 52px;
}

.invest-wrap > .title-h4-wrap > ul > li:nth-child(2) {
    margin-left: 54px;
}

.invest-wrap > .title-h4-wrap > ul > li:nth-child(3) {
    margin-left: 45px;
}

.top-bar-wrap > .title-h4-wrap > h4 {
    display: inline-block;
    height: 12px;
    vertical-align: top;
    font-size: 0;
}

.PR-center-wrap > .title-h4-wrap > h4 {
    background: url('../img/contents/PRCenter.png') 0 0 no-repeat;
    width: 64px;
}

.Recruit-wrap > .title-h4-wrap > h4 {
    background: url('../img/contents/Recruit.png') 0 0 no-repeat;
    width: 45px;
}

.top-bar-wrap {
    font-size: 0;
    padding: 25px 0 23px 17px;
    background: url('../img/contents/divid-bar.png') 0 top repeat-x, #ffffff;
}

.top-bar-wrap > .title-h4-wrap > ul {
    display: inline-block;
    margin-left: 36px;
}

.top-bar-wrap > .title-h4-wrap > ul > li {
    display: inline-block;
    vertical-align: top;
}

.top-bar-wrap > .title-h4-wrap > ul > li > a {
    font-size: 0;
    height: 11px;;
    display: block;
}

.PR-center-wrap > .title-h4-wrap > ul > li:first-child > a {
    background: url('../img/contents/list-management.png') 0 0 no-repeat;
    width: 97px;
}

.PR-center-wrap > .title-h4-wrap > ul > li:nth-child(2) > a {
    background: url('../img/contents/list-video.png') 0 0 no-repeat;
    width: 45px;
}

.PR-center-wrap > .title-h4-wrap > ul > li + li {
    padding-left: 26px;
}

.Recruit-wrap > .title-h4-wrap > ul > li + li {
    padding-left: 42px;
}

.Recruit-wrap > .title-h4-wrap > ul > li:first-child > a {
    background: url('../img/contents/list-archt.png') 0 0  no-repeat;
    width: 44px;
}

.Recruit-wrap > .title-h4-wrap > ul > li:nth-child(2) > a {
    background: url('../img/contents/list-trading.png') 0 0 no-repeat;
    width: 45px;
}

.Recruit-wrap > .title-h4-wrap > ul {
    margin-left: 53px;
}

.Recruit-wrap {
    padding-bottom: 25px;
    background: url('../img/contents/divid-bar.png') 0 top repeat-x , url('../img/contents/bottom-bg-invest.png') 0 bottom repeat-x, #ffffff;
}

.tab-position {
    position: absolute;
    top: -20px;
    right: 0;
}

.tab-position > ul > li {
    width: 75px;
    height: 25px;
    font-size: 0;
    box-shadow: 3px 3px 2px #a1b2b8;
}

.tab-position > ul > li > a {
    display: block;
    height: 25px;
}

.tab-position > ul > li {
    background: url('../img/contents/ss-product-tab.png') 0 0 no-repeat;
}

.tab-position > ul > li:nth-child(2) {
    background: url('../img/contents/ss-archt-tab.png') 0 0 no-repeat;
    margin-top: 5px;
}

.tab-position > ul > li:nth-child(3) {
    background: url('../img/contents/ss-trading-tab.png') 0 0 no-repeat;
}