#contents {
    background-color: #c6dbe3;   
}

.contents-wrap {
    background: url('../img/contents/bg-samsung.png') 0 0 no-repeat;
}

.title-company-wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.title-company-wrap > p:first-child {
    background: url('../img/contents/slogan-ss-eng.png') 0 0 no-repeat;
    width: 470px;
    height: 92px;
    font-size: 0;
    margin-top: 30px;
}

.title-company-wrap > p:nth-child(2) {
    background: url('../img/contents/slogan-ss-kor.png') 0 0 no-repeat;
    width: 237px;
    height: 17px;
    font-size: 0;
    margin-top: 10px;
}

.banner-contents-wrap {
    margin-top: 91px;
    width: 960px;
    margin: 91px auto 0;
}

.banner-contents-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.article-wrap {
    float: left;
    width: 310px;
    vertical-align: top;
    padding-top: 7px;
}

.article-wrap > h2 > a {
    display: block;
    font-size: 0;
    height: 57px;;
}

.article-wrap > img {
    vertical-align: top;
}

.archt-wrap {
    background: url('../img/contents/top-bg-youtube.png') 0 top repeat-x;
    position: relative;
}

.trading-wrap {
    background: url('../img/contents/top-bg-fb.png') 0 top repeat-x;
    position: relative;
}

.investment-wrap {
    background: url('../img/contents/top-bg-invest.png') 0 4px repeat-x;
}

.archt-wrap > h2 > a {
    background: url('../img/contents/shorts-cut-archt.png') 0 0 no-repeat;
}

.trading-wrap > h2 > a {
    background: url('../img/contents/shorts-cut-trading.png') 0 0 no-repeat;
}

.list-dot-bg-wrap {
    background: url('../img/contents/list-style-dot-bg.png') 0 0 no-repeat;
    height: 63px;
}

.list-style-dot {
    padding: 11px 43px;
}

.list-style-dot::after {
    content: "";
    display: block;
    clear: both;
}

.list-style-dot > li {
    float: left;
}

.notice-wrap {
    text-align: left;
    padding: 21px 26px 34px 20px;
    background-color: #e9f7fe;
    position: relative;
}

.invest-wrap {
    text-align: left;
    padding: 18px 0 15px 17px;
    background-color: #ffffff;
    position: relative;
}

.invest-wrap > .title-h4-wrap > h4 {
    background: url('../img/contents/invest-title.png') 0 0 no-repeat;
    height: 12px;
    font-size: 0;
}

.notice-wrap > .title-h4-wrap > h4 {
    background: url('../img/contents/News-title.png') 0 0 no-repeat;
    height: 12px;
    font-size: 0;
}

.notice-wrap > .title-h4-wrap > a {
    position: absolute;
    top: -2px;
    right: 0;
}

.notice-wrap > ul {
    margin-top: 21px;
    font-size: 12px;
}

.notice-wrap > ul > li {
    position: relative;
}

.notice-wrap > ul > li > a {
    font-size: 12px;
    line-height: 16px;
    color: #282828;
}

.notice-wrap > ul > li > a > span {
    position:  absolute;
    right: 3px;
    font-size: 11px;
    color: #7d7d7d;
}

.ad-wrap {
    text-align: left;
    background-color: #ffffff;
    padding: 21px 0 18px 20px;
    position: relative;
}

.link-sns-wrap {
    position: absolute;
    top: -3px;
    right: 26px;
}

.link-sns-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.link-sns-wrap > li {
    float: left;
}

.link-sns-wrap > li + li {
    margin-left: 3px;
}

.title-h4-wrap {
    position: relative;
}

.sns-contents-wrap {
    margin-top: 14px;
}

.sns-contents-wrap > img {
    vertical-align: middle;
}

.ad-wrap > .title-h4-wrap > h4 {
    height: 13px;
    font-size: 0;
}

.youtube {
    background: url('../img/contents/bottom-bg-youtube.png') 0 bottom repeat-x, #ffffff;
}

.facebook {
    background: url('../img/contents/bottom-bg-fb.png') 0 bottom repeat-x, #ffffff;
}

.youtube > .title-h4-wrap > h4 {
    background: url('../img/contents/youtube-title.png') 0 0 no-repeat;
}

.facebook > .title-h4-wrap > h4 {
    background: url('../img/contents/facebook-title.png') 0 0 no-repeat;
}

.youtube-shortcuts-wrap,
.facebook-shortcuts-wrap {
    vertical-align: middle;
    display: inline-block;
    margin-left: 6px;
}

.youtube-shortcuts-wrap > h5,
.facebook-shortcuts-wrap > h5,
.youtube-shortcuts-wrap > a,
.facebook-shortcuts-wrap > span {
    font-size: 14px;
}

.sns-btn-link-wrap {
    margin-top: 8px;
}

.sns-btn-link-wrap > a {
    display: inline-block;
    font-size: 0;
    background: url('../img/contents/youtube-link-btn.png');
    width: 109px;
    height: 26px;
    vertical-align: top;
}

.sns-btn-link-wrap > span {
    font-size: 14px;
    vertical-align: middle;
}

.sns-btn-link-wrap> button {
    background: url('../img/contents/like-btn.png') 0 0 no-repeat;
    border: none;
    outline: none;
    font-size: 0;
    width: 68px;
    height: 26px;
    vertical-align: middle;
    cursor: pointer;
}

.slide-title-wrap {
    position: relative;
    background: #ffffff;
    width: 310px;
    height: 120px;
}

.slide-title-wrap > a {
    background: url('../img/contents/slide-title-1.png') 0 0 no-repeat;
    font-size: 0;
    display: block;
    height: 120px;
}

.slide-title-wrap > button {
    height: 120px;
    position: absolute;
    border: none;
    outline: none;
    font-size: 0;
    top: 0;
    cursor: pointer;
}

.slide-title-wrap > button:nth-child(2) {
    background: url('../img/contents/title-prev-btn.png') 0 0 no-repeat;
    width: 22px;
    left: 0;
}

.slide-title-wrap > button:nth-child(3) {
    background: url('../img/contents/title-next-btn.png') 0 0 no-repeat;
    width: 21px;
    right: 0;
}

.csr-wrap {
    position: relative;
}

.csr-wrap > a {
    display: block;
    font-size: 0;
}

.csr-slide-wrap {
    background: url('../img/contents/csr-contents-title.png') 0 0 no-repeat;
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 70%;
}

.csr-slide-wrap > button {
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    cursor: pointer;
}

.csr-slide-wrap > p {
    font-size: 0;
    line-height: 30px;
    background: url('../img/contents/hopeful-mc-fam.png') center 0 no-repeat;
    text-align: center;
    opacity: 100%;
}

.csr-slide-wrap > button:nth-child(2) {
    background: url('../img/contents/csr-slide-prev.png') 0 0 no-repeat;
    left: 0;
}

.csr-slide-wrap > button:last-child {
    background: url('../img/contents/csr-slide-next.png') 0 0 no-repeat;
    right: 0;
}

.archt-wrap::before {
    content: url('../img/contents/before-img-1.png');
    display: block;
    position: absolute;
    top: -199px;
    right: 2px;
}

.trading-wrap::before {
    content: url('../img/contents/before-img-2.png');
    display: block;
    position: absolute;
    top: -86px;
}